<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Oração</title>
</head>
<body>

 <!-- Header -->
 <header class="masthead">
  <div class="container d-flex h-100">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 "
      ">ORAÇÃO CONTÍNUA</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"><a href="/" style= "color: white"> INÍCIO </a> | 
        <a href="list" style= "color: white">LISTA COMPLETA</a>
      </h2>
      <br>
      <br>
      <section class="templateux-portfolio-overlap" id="next">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6" data-aos="fade-up">
              <a class="project animsition-link" href="#">
                <figure>
                  <img src="https://imgur.com/eNjPqug.png" alt="Free Template" class="img-fluid">  
                </figure>
                <div class="project-hover">
                  <div class="project-hover-inner">
                    <h2>GFCM</h2>
                    <span>Paulo Almeida / Sinésio / Caetano</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

</body>
</html>